/* STYLES FOR ENTIRE PAGE */
/* main colors for site */
:root {
    --primary-color: 	#B6E8EA;
    --secondary-color: navy;
    --tertiary-color: #383E3E;
}
/*Re-used * styling from run-buddy project*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* allow scrolling for navigation */
html {
    scroll-behavior: smooth;
}
/* remove default a tag styling */
a {
    text-decoration: none;
}
/* italicize text */
.italic {
    font-style: italic;
}
/* apply font */
body {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--secondary-color);
}
/* END STYLES FOR ENTIRE PAGE */


/* HEADER SECTION */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--tertiary-color);
    padding: 10px 0 10px 0;
}

header h1 {
    color: black;
    font-weight: bold;
    font-size: 34px;
    background-color: var(--primary-color);
    padding: 5px 8px 5px 60px;
}

header nav {
    padding: 12px 0;
}

header nav ul, .contact-me ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;    
}

header nav ul {
    justify-content: space-between;   
    margin-right: 50px;
}
header nav ul li a, .contact-me ul li a {    
    padding: 0 6px 5px 6px;
    font-size: 14px;
    font-weight: bold;    
    margin: 5px 5px;  
}

header nav ul li a {
    color: var(--primary-color);
    border-bottom: var(--primary-color) solid 2px;
}

header nav ul li a:hover {
    color: white;
}
/* END OF HEADER SECTION */


/* HERO SECTION */
.hero {
  background-image: url("../images/hero-background2.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: right;
  align-items: flex-end; 
}

.hero h2 {
    font-size: 20px;
    font-weight: bold;
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    display: inline-block;
    padding: 8px;
    margin: 90px 40px 10px 0;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.75);
}
/* END OF HERO SECTION */


/* ---- MAIN SECTION ---- */
main {
    background-color: #F0F5F5;
    padding: 20px 30px 20px 5px;
}

.about-me-content, .work-container, .contact-links {
    padding: 0 20px 30px 20px;
}

.contact-me, .about-me, .work{
    display: flex;
    justify-content: flex-start;
    margin: 20px 0; 
}

.section-title {
    border-right: var(--secondary-color) solid 3px;
    text-align: right;
    padding-right: 10px;
    font-size: 34px;
    font-weight: 400;   
    flex: 0 0 170px;
}

.section-title h3 {
    font-size: 34px;
    font-weight: bold;
}

/* Contact Section */
.contact-links {
    display: flex;
    justify-content: space-evenly;
    flex: 4;
}

.contact-links li a {
    color: var(--secondary-color);
    border-bottom: var(--secondary-color) solid 2px;
}
/* End Contact Section */

/* About Me Section */
.about-me-content {
    display: flex;
    flex-wrap: wrap;
}

.about-me-content p {
    font-size: 25px;
    line-height: 1.3;
    flex: 3;
}

.about-me-content img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
/* End About Me Section */


/* Work Section */
.work-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-between;
}      
/* Got this break idea from: https://tobiasahlin.com/blog/flexbox-break-to-new-row/ */ 
.break {
    flex-basis: 100%;
    height: 0;
}

.work-item {
    height: 150px;
    flex: 0 0 49%;
    margin-top: 10px;
}

.work-item-large:hover, .work-item:hover {
    border: var(--secondary-color) solid 5px;
}

.work-item, .work-item-large {
    border: var(--primary-color) solid 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

.work-item-text {
    background-color: var(--primary-color);
    padding: 10px;
    margin-bottom: 20px;
}

/* work tile images */
.work-item-large {
    background-image: url("../images/squabblehub.png");
    height: 300px;
    flex: 0 0 100%;   
}

.hgm {
    background-image: url("../images/home-garden-mgr.png"); 
}

.horiseon {
    background-image: url("../images/horiseon.png"); 
}

.tech-blog {
    background-image: url("../images/tech-blog.png");
}

.weather {
    background-image: url("../images/weather.png"); 
}

.quizify {
    background-image: url("../images/quizify.png"); 
}

/* End Work Section */
/* END MAIN */

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    
    /* HEADER SECTION*/
    header h1 {
        font-size: 60px;
    }

    header nav ul li {
        display: flex;
        justify-content: space-between;
    }

    header nav ul li a {
        font-size: 20px;
        margin: 5px 10px;       
    }
    /* END HEADER SECTION */

    /* MAIN SECTION */
    .about-me, .work, .contact-me {
        flex-direction: column;
    }

    .section-title {
        font-size: 45px;
        border-right: 0;
        text-align: left;
        padding-left: 20px;
        flex: none;
    }

    /* ABOUT ME SECTION */
    .about-me-content {
        flex-direction: column;
    }

    .about-me-content img {   
        height: 100px;
        width: 100px;
        align-self: flex-end;
    }
    /* END ABOUT ME SECTION */


    /* CONTACT SECTION */
    .contact-links li a {
        font-size: 18px;
        border-bottom: none;
    }

    .contact-links li {
        margin-bottom: 10px;    
    }

    .contact-me ul li a {
        font-size: 18px;
    }
    /* END CONTACT SECTION */
}